.Header {
    
    font-size: 52px;
}

.col-3 {
    background-image:linear-gradient(to right, rgba(4,154,199,1), rgba(238,240,243,1)); 
}

.col-9 {
    background-image: linear-gradient(to bottom right, rgba(238,240,243,1), rgba(238,240,243,1),rgba(4,154,199,1)); 
}

.row {
    width: 101vw;
    height: 100vh;
}